<section class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Enter Signup Information!</h3>
        <form id="signup">
            <div class="card-text">
            <label for="signupUsername">Username</label>
            <input type="text" placeholder="Enter Username" id="signupUsername">
            </div>
            <div class="card-text">
            <label for="signupPassword">Password</label>
            <input type="text" placeholder="Enter Password" id="signupPassword">
            </div>
            <button>Create Account!</button><br>
            <a href="/login">Click Here to Login!</a>
        </form>
    </div>
</section>


<script src="/js/signup.js"></script>